{% load staticfiles %}
<!DOCTYPE html> <!-- had to add this to get jquery scrollspy to work -->
<html lang="en">

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- last listed link wins -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="{% static 'css/freelancer.css' %}" type="text/css">

        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <title>Nick Weseman</title>
    </head>
    <body id="page-top" class="index">
        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="#page-top" scroll-to-top>Nick Weseman</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="#about">Areas</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#technologies">Skills</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#experience">Experience</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#education">Education</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#software">Software</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!-- Header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-responsive" src="{% static 'img/me.png' %}" alt="">
                        <div class="intro-text">
                            <span class="name">Nick Weseman</span>
                            <div class="col-lg-12 text-center">
                                {% for profile in profiles %}
                                    <a class="btn btn-lg btn-title" target="_blank" href="{{ profile.url }}">
                                        <i class="{{ profile.icon }}"></i>
                                        {{ profile.website }}
                                    </a>
                                {% endfor %}
                                <hr class="star-light">
                                <span class="skills">Software Engineer in Houston, TX</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- About Section -->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Areas of Expertise</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        {% for subject in subjects %}
                            <span class="btn btn-nocursor btn-lg btn-tech-title">
                                <i class="{{ subject.icon }}"></i>
                                {{ subject.name }}
                            </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Technologies Section -->
        <section class="success" id="technologies">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Technical Skills</h2>
                        <hr class="star-light">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3>Languages</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        {% for language in languages %}
                        <span class="btn btn-nocursor btn-lg btn-title">
                                <i class="{{ language.technology.icon }}"></i>
                                {{ language.technology.name }}
                            </span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3>Operating Systems</h3>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-lg-12 text-center">
                        {% for operating_system in operating_systems %}
                        <span class="btn btn-nocursor btn-lg btn-title">
                                <i class="{{ operating_system.icon }}"></i>
                                {{ operating_system.name }}
                            </span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3>Certifications</h3>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-lg-12 text-center">
                        {% for certification in certifications %}
                        <span class="btn btn-nocursor btn-lg btn-title">
                                <i class="{{ certification.icon }}"></i>
                                {{ certification.name }}
                            </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Experience Section -->
        <section id="experience">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Experience</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                {% for experience in experiences %}
                    <div id="button-experience{{ experience.id }}" class="minMaxBtn">
                        <i class="glyphicon glyphicon-minus"></i>
                    </div>
                    <p class="timeline-date">{{ experience.years }}</p>
                    <h3 class="minimizable">{{ experience.company }}</h3>
                    <div id="box-experience{{ experience.id }}" class="row">
                        <table>
                            <tr>
                                <td class="timeline-image">
                                    <div>
                                        <a target="_blank" href="{{ experience.url }}">
                                            <img src="{% static 'img/'|add:experience.icon %}" class="img-responsive img-description" alt="" />
                                        </a>
                                        <br />
                                        <p>{{ experience.location }}</p>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <p>{{ experience.description }}</p>
                                        <!-- If responsibilities are directly on the Experience -->
                                        <ul>
                                            {% for responsibility in experience.responsibilities.all %}
                                            <li>{{ responsibility.description|safe }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% for technology in experience.technologies.all %}
                                        <span class="btn btn-nocursor btn-lg btn-tech">
                                                {{ technology.name }}
                                            </span>
                                        {% endfor %}
                                        <!-- If responsibilities are tied to Projects on the Experience -->
                                        {% for project in experience.projects.all %}
                                            <h4>{{ project.name }}</h4>
                                            <p class="small">{{ project.description }}</p>
                                            <ul>
                                                {% for responsibility in project.responsibilities.all %}
                                                    <li>{{ responsibility.description|safe }}</li>
                                                {% endfor %}
                                            </ul>
                                            {% for technology in project.technologies.all %}
                                            <span class="btn btn-nocursor btn-lg btn-tech">
                                                    {{ technology.name }}
                                                </span>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <hr />
                    </div>
                {% endfor %}
            </div>
        </section>
        <!-- Education Section -->
        <section class="success" id="education">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Education</h2>
                        <hr class="star-light">
                    </div>
                </div>
                {% for education in educations %}
                    <div id="button-education{{ education.id }}" class="minMaxBtn">
                        <i class="glyphicon glyphicon-minus"></i>
                    </div>
                    <p class="timeline-date">{{ education.graduation_date }}</p>
                    <h3 class="minimizable">{{ education.school }}</h3>
                    <div id="box-education{{ education.id }}" class="row">
                        <table>
                            <tr>
                                <td class="timeline-image">
                                    <div>
                                        <a target="_blank" href="{{ education.url }}">
                                            <img src="{% static 'img/'|add:education.icon %}" class="img-responsive img-description" alt="" style='border-radius: 5px;' />
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <p>{{ education.degree }}</p>
                                        <p>GPA:  {{ education.gpa }}</p>
                                        <p>{{ education.location }}</p>
                                        {% for technology in education.technologies.all %}
                                        <span class="btn btn-nocursor btn-lg btn-outline">
                                                {{ technology.name }}
                                            </span>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <hr/>
                    </div>
                {% endfor %}
            </div>
        </section>
        <!-- Apps/Software Section -->
        <section id="software">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Apps & Software</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                {% for software in softwares %}
                    <div id="button-software{{ software.id }}" class="minMaxBtn">
                        <i class="glyphicon glyphicon-minus"></i>
                    </div>
                    <p class="timeline-date">{{ software.date }}</p>
                    <h3 class="minimizable">{{ software.name }}</h3>
                    <div id="box-software{{ software.id }}" class="row">
                        <table>
                            <tr>
                                <td class="timeline-image">
                                    <div>
                                        {% if software.url %}
                                            <a target="_blank" href="{{ software.url }}">
                                        {% endif %}
                                                <img src="{% static 'img/'|add:software.icon %}" class="img-responsive img-description" alt="" />
                                        {% if software.url %}
                                            </a>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <p>{{ software.description }}</p>
                                        <ul>
                                            {% for responsibility in software.responsibilities.all %}
                                                <li>{{ responsibility.description|safe }}</li>
                                            {% endfor %}
                                        </ul> 
                                        {% if software.github_url %}
                                            <a target="_blank" href="{{ software.github_url }}">
                                                <i class="fa fa-github"></i>
                                                Github
                                            </a>
                                            <br>
                                        {% endif %}
                                        {% for technology in software.technologies.all %}
                                        <span class="btn btn-nocursor btn-lg btn-tech">
                                                {{ technology.name }}
                                            </span>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <hr/>
                    </div>
                {% endfor %}
            </div>
        </section>
        <!-- Contact Section -->
        <section id="contact" class="success">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Contact Me</h2>
                        <hr class="star-light">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        {% for contact in contacts.all %}
                            <!-- email address written in HTML entities to avoid spam. Generated by: http://wbwip.com/wbw/emailencoder.html -->
                                <h3 id="email_contact">
                                    {{ contact.email|safe }}
                                </h3>
                        {% endfor %}
                    </div>  
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer class="text-center">
            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="footer-col col-md-12">
                            <i class="fa fa-copyright"></i> 
                            Nick Weseman 2017
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
        <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
            <a class="btn btn-primary" href="#page-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
        <input type="text" id="copy-input" style='display:none;'>

        <!-- Load scripts at the end of body for the jquery in freelancer.js to work
        see https://digwp.com/2011/09/using-instead-of-jquery-in-wordpress/ -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{% static 'js/freelancer.js' %}"></script>
    </body>
</html>
